.inputContainer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    /* border: 1px solid red; */
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
};

#child1{
    width: 50%;
}

.child2{
    width: 48%;
    padding: 20px;
}

.btn>Button{
    width: 50%;
    border:1px solid gray;
    margin-top: 20px;
}


@media screen and (min-width:601px) and (max-width: 900px) {
   
  }


@media (max-width: 600px) {
    .inputContainer{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(1, 1fr)
    };

    
 }
