.parent{
    height: 70px;
    padding: 20px;
    padding-inline-start:4;
    padding-inline-end: 4;
    background-color: #b4cee8;
}
.parent>.flex{
    height: 32;
    display: flex;
    justify-content: space-between;
    align-items: center;
}